# MATLAB autosave files
*.asv

# MATLAB binary files
*.mat

# MATLAB mex files
*.mex*
*.mexa64
*.mexw64
*.mexmaci64

# MATLAB Simulink cache & codegen
slprj/
codegen/

# MATLAB project files
*.prj
*.mlappinstall

# MATLAB Live Editor autosave
*.mlx~

# OS files
.DS_Store
Thumbs.db
